jobs:
  build-android:
    runs-on: ubuntu-latest
    env:
      EAS_TOKEN: ${{ secrets.EAS_TOKEN }}  # <-- Ici le secret GitHub
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Expo & EAS CLI
        run: |
          npm install -g expo-cli eas-cli

      - name: Install dependencies
        run: npm install

      - name: Build Android
        run: |
          eas build --platform android --profile preview --non-interactive --type ${{ github.event.inputs.buildType }}
